.wrapper {
    height: 100%;
    min-height: 100vh;
}

.main {
    max-width: var(--main-content);
    margin: 0 auto;
    padding: 0 var(--gap);
}

h2.title_block {
    color: var(--colors-primary);
    margin: 60px 0 0;
    font-size: 24px;
}

a.ul {
    border-bottom: .5px solid var(--colors-secondary);
    color: var(--colors-primary);
    text-decoration: none;
    transition: opacity var(--transitions-duration) ease-in-out;
}

.list::marker {
    color: var(--colors-secondary);
    font-size: 0.8em;
}